@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');
*{box-sizing: border-box;margin: 0;padding: 0;}
:root{ --text-color: #00aa00;}
body {
    font-family: 'Roboto Mono', monospace;
    background-color: #333;
    color: #ccc;
    font-size: 18px;
    line-height: 1.6;
}
.container {
    max-width: 750px;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: var(--text-color);
    font-size: 50px;
    letter-spacing: -5px;
    margin-bottom: 20px;
    cursor: pointer;
}
h2{ color: var(--text-color);}
h3{ margin-bottom: 10px;}
a{ color: var(--text-color);
    text-decoration: none;}

p{margin: 20px 0;}

ul { list-style-type: none;}

nav { width: 30%;}

nav ul { display: flex;
    justify-content: space-around;
    align-items: center;}

nav ul li {
    color: var(--text-color);
    cursor: pointer;
    margin-left: 5px;}
.wb-body {
    background: #111;
    padding: 20px;}
.hidden {display: none;}
.cursor {
    font-weight: 700;
    animation: 1s blink step-end infinite;}
.tild {color: #0bc;}
.dollar {color: #ff0096;}
footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding-bottom: 8rem;
    text-align: center;
    position: absolute;
    bottom: 0; }
   svg {
    fill: rgb(185, 180, 169);
    width: 30px;}  
@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
    color: var(--text-color);
    }
}
